    #location-box {
        background-color: rgb(200, 199, 199);
        align-items: center;
        justify-content: space-between;
        margin: 6px;
        padding: 10px;
        display: flex;
    }

    #location-content {
        font-size: 18px;
        display: flex;
        margin-top: 280px;
    }

    #location-box img {
        width: 40%;
        margin-bottom: 10px;
        float: right;
    }